/node_modules/
/backend/node_modules/
/backend/vendor/
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpactor.json
/backend/.phpunit.result.cache
/backend/.fleet/
/backend/.idea/
/backend/.nova/
/backend/.phpunit.cache/
/backend/.vscode/
/backend/.zed/
/backend/auth.json
/backend/public/build/
/backend/public/hot/
/backend/public/storage/
/backend/storage/*.key
/backend/storage/pail/
/backend/_ide_helper.php
/backend/Homestead.json
/backend/Homestead.yaml

*.log
.DS_Store
Thumbs.db
